{% extends "layout.html" %}

{% block title %}
  {{ title }}
{% endblock %}

{% block head %}
  <script src="{{ url_for('static', filename='form.js') }}"></script>
{% endblock %}

{% block body %}
  <div class="create-div">
    <h1>{{ h1 }}</h1>
    <form class="create-form" action="{{ url_for('index') }}" method="post">
      <input class="form-input" name="{{ buttonText }}" autocomplete="off" autofocus placeholder="name">
      <input class="form-submit" type="submit" value="{{ buttonText }}" disabled>
    </form>
  </div>
{% endblock %}
