{% extends "layout.html" %}

{% block title %}
  {{ title }}
{% endblock %}

{% block head %}
  <script id="error" type="text/x-handlebars-template">
    <div class="error create-div">
        {% raw -%}
            {{ errorMessage }}
        {%- endraw %}
    </div>
    <button id="try-again" type="button" name="button" class="form-submit">Try again</button>
  </script>

  <script src="{{ url_for('static', filename='form.js') }}"></script>
{% endblock %}

{% block body %}
  <div class="create-div">
    <h1>{{ h1 }}</h1>
    <form class="create-form">
      <input class="form-input" name="{{ buttonText }}" autocomplete="off" autofocus placeholder="name">
      <input class="form-submit" type="submit" value="{{ buttonText }}" disabled>
    </form>
  </div>
{% endblock %}
