<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/stylesheet.css') }}">
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
    <title>Chat with us!</title>
  </head>

  <body>
    <div id="header">
        <h4 id="headerTitle">Chat with us!</h4>
    </div>

    <div id="body">
      <div id="menu">
        <div id="chatLinkContainer">

        </div>
      </div>
      <div id="chatContent">
        <div id="messageWwriter">
          <hr>
          <form id="messageForm">
            <input id="messageInput" autocomplete="off" autofocus=true placeholder='Write a message' type="text" value="">
            <input id="messageSubmit" type="submit" disabled>
          </form>
        </div>
      </div>
    </div>

    <div id="footer">
      <button type="button" id="createNewChat" class="btn btn-outline-info">Create a new chat</button>
    </div>

  </body>
</html>
