$main-color: hotpink;
$alternative-text-color: white;
$background-color-friends-messages: #80EAFF;
$border: solid $main-color;
$height-header: 5%;
$menu-width: 20%;
$message-container-height: 80%;
$margin-left-message-form: 40%;
$message-margin: 10%;


@keyframes move {
  from {
    left: $menu-width
  }
  to {
    // arrive at same level as message text input field
    left: $menu-width + ($margin-left-message-form * (100% - $menu-width)) / 100%;
  }
}

html {
  height: 100%;
  width: 100%
}

body {
  font-family: "Bradley Hand ITC";
  color: $main-color;
  height: 95%;
  width: 99%;
  border-bottom: $border;
}

.create-div {
  margin: 10% 0 0 35%;
}

#create-form {
  margin: 2% 0 0 10%;
}

.form-input {
  color: $main-color;
  border: $border;
  border-width: thin;
}

.form-submit {
  background-color: $main-color;
  color: $alternative-text-color;
  border: none;
  cursor: pointer;
}

#header {
  height: $height-header;
  border-bottom: $border;
}

#header-title {
  position: relative;
  animation-name: move;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

#body {
  display: flex;
  flex-direction: row;
  height: 100% - $height-header;
}

#menu {
  width: $menu-width;
  border-right: $border;
  border-left: $border;
}

.chat-rooms {
  background-color: $main-color;
  color: $alternative-text-color;
  margin: 3%;
  padding: 0 10% 0 10%;
  border-radius: 10px;
}

#chat-content {
  width: 100% - $menu-width;
  border-right: $border;
}

#message-container {
  height: $message-container-height;
  border-bottom: $border;
}

.message {
  color: $alternative-text-color;
  font-family: Arial;
  margin: 0.5%;
  padding-left: 1%;
}

.message.own-message {
  background-color: $background-color-friends-messages;
  margin-left: $message-margin;
  border-radius: 10px 0 10px 10px;
}

.message.friends-message {
  background-color: $main-color;
  margin-right: $message-margin;
  border-radius: 0 10px 10px 10px;
}

.message-text {
  font-size: 150%;
}

#message-writer {
  display: inline-block;
  height: 100% - $message-container-height;
  width: 100%;
}

#message-form {
  text-align: center;
  display: inline-block;
  padding-top: 5%;
  margin-left: $margin-left-message-form;
}



/*$background-color-header: #ffe9ec;
$background-color: #e6e6e6;
$color: darkgrey;
$color-hover: black;
$font-family: "Bradley Hand ITC";
$height-header-footer: 5%; //%50px
$width-header-footer: 100%;
$padding-top-header-footer: 10px;
$overflow: scroll;
$width-menu: 200px;
$flex-direction: row;
$height-html: 100%;

html {
  height: $height-html;
}

body {
  height: $height-html;
  margin: 0;
  padding: 0;
  overflow: $overflow;
  color: $color;
  font-family: $font-family;
}

hr {
  color: black;
}

#header {
  display: flex;
  flex-direction: $flex-direction;
  //justify-content: space-around;
  //display: block;
  height: $height-header-footer;
  width: $width-header-footer;
  padding-top: $padding-top-header-footer;
  background-color: $background-color-header;
}

#headerTitle {
  width: $width-menu;
  padding-left: 5px;
}

#welcome {
  margin-left: 80%;
  margin-right: 5px;
}

.form-header {
  flex: 1;
  text-align: center;
}

#body {
  display: flex;
  flex-direction: $flex-direction;
  height: $height-html - 2*$height-header-footer;
  background-color: $background-color;
}

#menu {
  width: $width-menu;
  overflow: $overflow;
  //float: left;
}

#chatLinkContainer {
  display: flex;
  flex-direction: column;
}

.chatLinkItem {
  flex: 1;
  //background-color: $color;
  margin: 5px 20px 0 20px;
  background-color: $background-color-header;
  padding: 0 10% 0 10%;
}

.chatLinkItem:hover {
  color: red;
}

#chatContent {
  flex: 1;
  text-align: center;
  overflow: $overflow;
  height: $height-html;
}

.message-form {
  margin: 80% 0 5% 0;
}

.message-input {
  width: 80%;
  height: 50px;
}

#footer {
  height: $height-header-footer;
  width: $width-header-footer;
  padding-top: $padding-top-header-footer;
  background-color: $background-color-header;
  //float: left;
}
/*#createNewChat {
  margin-left: 90%;
  margin-right: 5px;
  background-color: $background-color;
  color: $color;
  border: solid $background-color;
}

#createNewChat:hover {
  background-color: $color;
  color: $color-hover;
  border: solid $color;
}

.btn-outline-info {
  margin-left: 90%;
  margin-right: 5px;
  background-color: $background-color;
  color: $color;
  border: solid $background-color;
}

.btn-outline-info:hover {
  background-color: $color;
  color: $color-hover;
  border: solid $color;
}*/
