$main-color: hotpink;
$alternative-text-color: white;
$background-color-friends-messages: #80EAFF;
$border: solid $main-color;
$height-body: 95%;
$height-header: 5%;
$menu-width: 20%;
$message-container-height: 80%;
$margin-left-message-form: 40%;
$message-margin: 10%;
$font-size: 18pt;


@keyframes move {
  from {
    left: 0%;
  }
  to {
    left: 50%;
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

html {
  height: 100%;
  width: 100%
}

body {
  font-family: "Bradley Hand ITC";
  color: $main-color;
  height: $height-body;
  width: 99%;
  border-bottom: $border;
}

.create-div {
  margin: 10% 0 0 35%;
}

.create-form {
  margin-top: 2%;
}

.form-input {
  color: $main-color;
  border: $border;
  border-width: thin;
  font-size: $font-size;
}

#message-form-input {
  width: 70%;
}

.form-submit {
  background-color: $main-color;
  color: $alternative-text-color;
  border: none;
  font-size: $font-size;
  cursor: pointer;
}

.form-submit:disabled {
  opacity: 0.3;
}

#header {
  height: $height-header;
  border-bottom: $border;
  display: flex;
  flex-direction: row;
}

#header-title {
  position: relative;
  animation-name: move;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  margin: 0;
}

#header-info {
  margin: 0;
  width: $menu-width;
  text-align: center;
  animation-name: show;
  animation-duration: 10s;
  animation-fill-mode: forwards;
  animation-play-state: paused;
}

#body {
  display: flex;
  flex-direction: row;
  height: 100% - $height-header;
}

#menu {
  width: $menu-width;
  border-right: $border;
  border-left: $border;
  overflow-y: auto;
}

.chat-rooms {
  background-color: $main-color;
  color: $alternative-text-color;
  margin: 3%;
  padding: 0 10% 0 10%;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  //height: 30px;
}

#chat-content {
  width: 100% - $menu-width;
  border-right: $border;
}

#message-container {
  height: $message-container-height;
  border-bottom: $border;
  overflow-y: auto;
}

.message {
  color: $alternative-text-color;
  font-family: Arial;
  margin: 0.5%;
  padding-left: 1%;
}

.message-text.own-message {
  background-color: $background-color-friends-messages;
  margin-left: $message-margin;
  border-radius: 10px 0 10px 10px;
}

.message-text.friends-message {
  background-color: $main-color;
  margin-right: $message-margin;
  border-radius: 0 10px 10px 10px;
}

.message-text {
  font-size: 200%;
  margin-bottom: 0.5%;
}

.message-infos {
  font-size: 40%;
}

#message-form {
  width: 100%;
  text-align: center;
  display: inline-block;
  padding-top: 2%;
}

.error {
  font-size: 200%;
}

#try-again {
  margin: 1% 0 0 50%;
}
