{% extends "layout.html" %}

{% block title %}
    let's chat!
{% endblock %}

{% block head %}
  <script id="chat-room" type="text/x-handlebars-template">
    <div id={% raw -%} {{ id }} {%- endraw %} class="chat-rooms" onclick="linkChatRoomsToMessages(this)">
        {% raw -%}
            {{ contents }}
        {%- endraw %}
    </div>
  </script>

  <script id="message" type="text/x-handlebars-template">
    <div class="message message-text {% raw -%} {{ class }} {%- endraw %}">
        {% raw -%}
            {{ contents }}
        {%- endraw %}
        <div class="message-infos">
          {% raw -%}
              {{ info }}
          {%- endraw %}
        </div>
    </div>
  </script>

  <script id="drawing" type="text/x-handlebars-template">
    <div class="frame {% raw -%} {{ class }} {%- endraw %}">
      <svg id="draw-{% raw -%} {{ idNumber }} {%- endraw %}" class="svg-chat">
      </svg>
    </div>
  </script>


  <script src="{{ url_for('static', filename='index.js') }}"></script>
{% endblock %}


{% block body %}
  <div id="header">
    <h1 id="header-title"></h1>
  </div>

  <div id="body">
    <div id="menu">
      <div id="chat-container">
      </div>
    </div>

    <div id="chat-content">
      <div id="message-container">
      </div>

      <form id="message-form">
        <input id="message-form-input" class="form-input" autocomplete="off" autofocus=true placeholder='Write a message'>
        <input class="form-submit" type="submit" value="send" disabled>
        <button id="draw" class="form-submit">Draw</button>
        <button id="create-new-chat" class="form-submit">Create new chat</button>
      </form>
    </div>
  </div>
{% endblock %}
